@if(!getBancoPage()){

  <nav class="navbar navbar-expand-xl fixed-top">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" id="nomeLogo">Banco Manco</span>
         
      @if(getNavBar()){
        <a routerLink="/cadastro">
          <button class="btn btn-custom" type="button" (click)="mudarBotao()">Abrir Conta</button>
        </a>} @else {
          <a routerLink="/home-page">
            <button class="btn btn-custom" type="button" (click)="mudarBotao()">Página Inicial</button>
          </a>}  
    </div>
  </nav>

} @else {

  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" id="nomeLogo">Banco Manco</span>
      
      <div class="button-outline">
      <button type="button" class="btn btn-outline-light" id="button-paginaInicial">Carteira</button> 
      <button type="button" class="btn btn-outline-light" id="button-investimentos">Investimentos</button>
      </div>

      <a routerLink="/home-page">
        <button class="btn btn-custom" type="button" id="button-sair" (click)="sairHomePage()">Sair</button>
      </a>
      
    </div>
  </nav>

}

<router-outlet></router-outlet>

